@media only screen and (max-width:600px) {
  .highlight-container {  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1rem;
  }
}

.highlight-choice, .highlight-choice-selected {
  font-size: small;
  margin: 0.5rem 0;
}

.highlight-choice {
  color: rgb(76, 76, 76);
}

.highlight-choice-selected {
  color: rgb(0, 155, 0);
}