$c_primary: #1C1C1C;
$c_secondary: #bcbcbc8f;
$c_tertiary: #1c1c1cbf;
$c_accent: #009b00;
$c_footer: #000000;
$c_background: #ffffff;
$c_button_selected: #3c3c3c;
$c_button_hover: #8c8c8c;
$c_button: #bcbcbc;