@media only screen and (min-width:600px) {
  .app-container { 
    padding-top: 3vw;
  
    display: grid;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 5vh repeat(4, min-content);
    gap: 5vh 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Nav-Bar Nav-Bar Nav-Bar"
      "Side-Bar Header ."
      "Side-Bar Career ."
      "Side-Bar Projects ."
      "Footer Footer Footer";
  }

  .Side-Bar {
    grid-area: Side-Bar;
    z-index: 1;
  }

  .Header, .About, .Career, .Projects, .Education {
    margin-left: 3rem;
    padding: 0 3vw;
  }
}

@media only screen and (max-width:600px) {
  .app-container { 
    padding-top: 3vw;
  
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5vh repeat(4, min-content);
    gap: 5vh 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Nav-Bar"
      "Header"
      "Career"
      "Projects"
      "Footer";
  }

  .Side-Bar {
    visibility: hidden;
  }

  .Header, .About, .Career, .Projects, .Education {
    margin: 0 1.5rem;
  }
}

.Nav-Bar { 
  grid-area: Nav-Bar;
  z-index: 1;
  position: sticky;
  top: 0%;

  background-color: white;
  padding: 0 7%;
}



.Header { 
  grid-area: Header;
  min-height: 95vh;
}

.Career { 
  grid-area: Career;
  min-height: 80vh;
  padding-top: 4rem;
}

.Projects { 
  grid-area: Projects; 
  min-height: 80vh;
  padding-top: 4rem;
}

.Education { 
  grid-area: Education; 
  background-color: brown;
}

.Footer-area {
  grid-area: Footer;
  padding: 2rem 3rem;

  background-color: #000;

  display: flex;
  justify-content: space-between;

  font-size: 0.75rem;
  color: #ffffff;
}

.Footer-link, .Footer-link:visited { 
  color: #ffffff;
}

.Footer-link:hover { 
  color: rgb(140, 140, 140);
}

