.app-container { 
  padding: 3vw;

  display: grid;
  grid-template-columns: 7% 86% 7%;
  grid-template-rows: 5vh repeat(3, min-height);
  gap: 5vh 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Nav-Bar Nav-Bar Nav-Bar"
    "Side-Bar Header ."
    "Side-Bar Career ."
    "Side-Bar Projects ."
}

.Side-Bar { 
  grid-area: Side-Bar;
  z-index: 1;
}

.Nav-Bar { 
  grid-area: Nav-Bar;
  z-index: 1;
  position: sticky;
  top: 0%;

  background-color: white;
  padding: 0 7%;
}

.Header, .About, .Career, .Projects, .Education { 
  margin-left: 3rem;
}

.Header { 
  grid-area: Header;
  min-height: 95vh;
}

.Career { 
  grid-area: Career;
  min-height: 80vh;
  padding-top: 4rem;
}

.Projects { 
  grid-area: Projects; 
  min-height: 80vh;
  padding-top: 4rem;
}

.Education { 
  grid-area: Education; 
  background-color: brown;
}

.Playground {
  grid-area: Playground;
}
