.app-container { 
  padding: 3vw;

  display: grid;
  grid-template-columns: 7% 86% 7%;
  grid-template-rows: 5vh repeat(3, 1fr);
  gap: 5vh 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". Nav-Bar ."
    "Side-Bar Header ."
    "Side-Bar Career ."
    "Side-Bar Projects ."
}

.Side-Bar { 
  grid-area: Side-Bar;
  z-index: 1;
}

.Nav-Bar { 
  grid-area: Nav-Bar;
}

.Header, .About, .Career, .Projects, .Education { 
  margin-left: 3rem;
}

.Header { 
  grid-area: Header;
}

.About { 
  grid-area: About; 
}

.Career { 
  grid-area: Career; 
}

.Projects { 
  grid-area: Projects; 
  background-color: violet;
}

.Education { 
  grid-area: Education; 
  background-color: brown;
}

.Playground {
  grid-area: Playground;
}
