.cloud-container {
  position: absolute;
  top:35%;
  transform: translate(-30%,0);
  z-index: -1;
}

.cloudA, .cloudB, .cloudC {
  border-radius: 11.8rem;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  1.8rem 1.8rem 4.9rem #bababa,
             -1.8rem -1.8rem 4.9rem #ffffff;

}

.cloudA {
  width: 30rem; 
  height: 10rem;
}

.cloudB {
  content: '';
  position: absolute;
  width: 17rem;
  height: 15rem;
  top: -18rem;
  right: 4rem;
}

.cloudC {
  content: '';
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: -14rem;
  left: 5rem;
}